*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

figure {
  width: 100%;
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.89rem;
  padding-inline: 0.8rem;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: hsl(192, 100%, 9%);
}

.wrapper {
  min-width: 359px;
  max-width: 29rem;
  margin: 0 auto;
}
@media screen and (min-width: 630px) {
  .wrapper {
    max-width: 120rem;
  }
}

.button {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  width: 20rem;
  height: 2.4rem;
  padding: 0.2rem;
  font-weight: bold;
  border-radius: 5rem;
  border: none;
}
.button:hover {
  cursor: pointer;
  background-color: hsl(321, 100%, 78%);
  color: #fff;
}
@media screen and (min-width: 630px) {
  .button {
    width: 40rem;
    height: 4rem;
  }
}
.button__secondary {
  width: 8rem;
  border: 0.1rem solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  background-color: #fff;
}
.button__secondary:hover {
  border: none;
}
@media screen and (min-width: 630px) {
  .button__secondary {
    width: 13.2rem;
    height: 4rem;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.8rem auto;
}
.navbar__logo {
  width: 10rem;
  height: 1.7rem;
}
@media screen and (min-width: 630px) {
  .navbar__logo {
    width: 18rem;
    height: 3.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .navbar__logo {
    width: 24rem;
    height: 3.8rem;
  }
}

.hero {
  margin-block-start: 12rem;
  text-align: center;
}
.hero__title {
  max-width: 29rem;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  line-height: 3.6rem;
}
@media screen and (min-width: 630px) {
  .hero__title {
    max-width: 120rem;
  }
}
.hero__text {
  max-width: 29rem;
  margin: 0 auto;
  margin-block: 4rem 5.2rem;
}
@media screen and (min-width: 630px) {
  .hero__text {
    max-width: 120rem;
  }
}
.hero__media {
  max-width: 29rem;
  margin: 0 auto;
  margin-block-start: 10.4rem;
}
@media screen and (min-width: 630px) {
  .hero__media {
    max-width: 120rem;
  }
}
@media screen and (min-width: 630px) {
  .hero__media {
    margin-block-start: 10rem;
    max-width: 100rem;
  }
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 90rem;
  margin-block-start: 12rem;
}
@media screen and (min-width: 630px) {
  .stats {
    flex-direction: row;
  }
}
.stats__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.stats__card span:nth-last-child(1) {
  color: #808185;
}
.stats__icon {
  width: 3.2rem;
  height: 2.8rem;
  align-self: flex-start;
}
@media screen and (min-width: 630px) {
  .stats__icon {
    width: 5rem;
    height: 4.5rem;
  }
}
.stats__number {
  font-size: 6.2rem;
  line-height: 6.2rem;
  font-weight: bold;
  margin-block: 2rem 3rem;
  color: hsl(192, 100%, 9%);
}