*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

figure {
  width: 100%;
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.89rem;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: hsl(192, 100%, 9%);
}

.wrapper {
  min-width: 359px;
  padding: 0 0.8rem;
  margin: 0 auto;
  max-width: 29rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0rem;
}
@media screen and (min-width: 630px) {
  .wrapper {
    max-width: 120rem;
  }
}
@media screen and (min-width: 630px) {
  .wrapper {
    gap: 0;
    flex-direction: row;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

.button {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  width: 20rem;
  height: 4rem;
  padding: 0.2rem;
  font-weight: bold;
  border-radius: 5rem;
  border: none;
}
.button:hover {
  cursor: pointer;
  background-color: hsl(321, 100%, 78%);
  color: #fff;
}
@media screen and (min-width: 630px) {
  .button {
    width: 40rem;
  }
}
.button__secondary {
  width: 8rem;
  height: 2.4rem;
  border: 0.1rem solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  background-color: #fff;
}
.button__secondary:hover {
  border: none;
}
@media screen and (min-width: 630px) {
  .button__secondary {
    width: 13.2rem;
    height: 4rem;
  }
}

.navbar {
  margin: 2.8rem auto;
}
.navbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0rem;
}
.navbar__logo {
  width: 10rem;
  height: 1.7rem;
}
@media screen and (min-width: 630px) {
  .navbar__logo {
    width: 18rem;
    height: 3.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .navbar__logo {
    width: 24rem;
    height: 3.8rem;
  }
}

.hero {
  margin-block-start: 12rem;
  text-align: center;
}
.hero .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0rem;
}
.hero__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  line-height: 3.6rem;
}
.hero__text {
  margin-block: 4rem 5.2rem;
}
.hero__media {
  margin-block-start: 10.4rem;
}
@media screen and (min-width: 630px) {
  .hero__media {
    margin-block-start: 10rem;
    max-width: 100rem;
  }
}

.stats {
  margin: 0 auto;
  padding-block: 12rem;
  background-image: url("../images/bg-section-bottom-mobile-2.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.stats .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10rem;
  max-width: 90rem;
}
@media screen and (min-width: 630px) {
  .stats .wrapper {
    gap: 0;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .stats {
    padding-block: 12rem 24rem;
  }
}
@media screen and (min-width: 1440px) {
  .stats {
    background-image: url("../images/bg-section-top-desktop-1.svg");
    background-position: bottom;
  }
}
.stats__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0rem;
}
.stats__card span:nth-last-child(1) {
  color: #808185;
}
.stats__icon {
  width: 3.2rem;
  height: 2.8rem;
  align-self: flex-start;
}
@media screen and (min-width: 630px) {
  .stats__icon {
    width: 5rem;
    height: 4.5rem;
  }
}
.stats__number {
  font-size: 6.2rem;
  line-height: 6.2rem;
  font-weight: bold;
  margin-block: 2rem 3rem;
  color: hsl(192, 100%, 9%);
}

.section .wrapper {
  height: 58rem;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 630px) {
  .section .wrapper {
    justify-content: space-between;
    text-align: left;
  }
}
.section__media {
  width: 26rem;
  margin-bottom: 8.6rem;
}
@media screen and (min-width: 630px) {
  .section__media {
    width: 50%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 630px) {
  .section__info {
    width: 42%;
  }
}
.section__title {
  margin-block-end: 2.2rem;
}
@media screen and (min-width: 630px) {
  .section__title {
    margin-block-end: 4rem;
  }
}
.section-grow, .section-ussers {
  background-color: hsl(207, 100%, 98%);
}
@media screen and (min-width: 630px) {
  .section-grow .wrapper, .section-ussers .wrapper {
    flex-direction: row-reverse;
  }
}