//  Variables

// -- Colors
$Pink:hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red:hsl(0, 100%, 63%);
// Neutral
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$White: #fff;

// Fonts
$header-font-family: 'Poppins', sans-serif;
$body-font-family:'Open Sans', sans-serif;
$header-font-size:2.5rem;
$header-line-height: $header-font-size * 1.44;
$body-font-size: 1.4rem;
$body-line-height: $body-font-size * 1.35;

// @use 'sass:math';

// @debug math.$e; // 2.7182818285

// @debug 2.5 * 1.44;
// Width
$Query-Mobile: 359px;
$Query-Tablet: 630px;
$Query-Desktop: 1440px;

//  Reseteo

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

figure {
    width: 100%;
}

img {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $body-font-size;
    line-height: $body-line-height;
    font-family: $body-font-family;
    background-color: $White;
    color: $Very-Dark-Cyan;
}

.wrapper {
    min-width: $Query-Mobile;
    padding: 0 0.8rem;
    margin: 0 auto;
    @include width-content;
    @include flexcontainer;
    @include flexcontainer-query;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
}
// .attribution { font-size: 1.1rem; text-align: center; }
// .attribution a { color: $primary-color; }