//  Variables & Functions
//  Global Layout
@import 'mixings';
@import 'globales';

//  colors

//  components (button, card, navbar)
@import './components/buttons';

//  Utilities (margin, padding, opacity)

@import './components/navbar';

.hero {
    margin-block-start: 12rem;
    text-align: center;
    
    .wrapper {
        @include flexcontainer (column);
    }
    
    &__title {

        font-family: $header-font-family;
        font-size: $header-font-size;
        line-height: $header-line-height;
    }

    &__text {

        margin-block: 4rem 5.2rem;
    }

    &__media {

        margin-block-start: 10.4rem;

        @media screen and (min-width:$Query-Tablet) {
            margin-block-start: 10rem;
            max-width: 100rem;
        }
    }
}

.stats {
    margin: 0 auto;

    .wrapper {
        @include flexcontainer (column, 10rem);
        @include flexcontainer-query;
        max-width: 90rem;
    }
    
    padding-block: 12rem;
    @media screen and (min-width:$Query-Desktop) {
        padding-block: 12rem 24rem;
    }

    @include backgroundivisores (url('../images/bg-section-bottom-mobile-2.svg'), bottom);
    @include backgroundivisores-query (url('../images/bg-section-top-desktop-1.svg'), bottom);


    &__card {
    @include flexcontainer;
    
    span:nth-last-child(1) {
        color: #808185;
    }
    }

    &__icon {
        width: 3.2rem;
        height: 2.8rem;
        align-self: flex-start;

        @media screen and (min-width:$Query-Tablet) {
            width:5rem;
            height: 4.5rem;
        }
//i just ignore this lines to make more balanced design
        // &-messages {
        //     width: 2.4rem;
        //     height: 2.1rem;

        //     @media screen and (min-width:$Query-Tablet) {
        //         width:3.8rem;
        //         height: 3.8rem;
        //     }
        // }
    }

    &__number {
        font-size: 6.2rem;
        line-height: 6.2rem;
        font-weight: bold;
        margin-block: 2rem 3rem;
        color: $Very-Dark-Cyan;
    }
}

// Fuentes responsivas sass 

.section {

    .wrapper {
        height: 58rem;
        justify-content: center;
        text-align: center;

        @media screen and (min-width:$Query-Tablet) {
            justify-content: space-between;
            text-align: left; 
        }
    }

    &__media {
        width: 26rem;
        margin-bottom: 8.6rem;

        @media screen and (min-width:$Query-Tablet) {
            width: 50%;
            margin-bottom: 0;
        }
    }

    &__info {
        @media screen and (min-width:$Query-Tablet) {
            width: 42%;
        }
    }

    &__title {
        margin-block-end: 2.2rem;
        @media screen and (min-width:$Query-Tablet) {
            margin-block-end: 4rem;
        }
    }

    &__text {

    }

    &-grow, &-ussers {
        background-color: $Very-Pale-Blue;
        
        .wrapper {
            @media screen and (min-width:$Query-Tablet) {
                flex-direction: row-reverse;
            }
        }
    }

    &-grow {

    }

    &-ussers {
    
    }
}