// @import 'mixings';

.button {
    @include button($Pink, $White);
    
    &:hover {
        @include button-hover($Light-Pink, $White);
    }

    @media screen and (min-width:$Query-Tablet) {
        width: 40rem;
        height: 4rem;
    }
   
    &__secondary {
        width: 8rem;
        border: 0.1rem solid $Pink;
        color: $Pink;
        background-color: $White;

        &:hover {
            border: none;
        }

        @media screen and (min-width:$Query-Tablet) {
            width: 13.2rem;
            height: 4rem;
        }
    }
}