.navbar {
    margin:2.8rem auto;

    .wrapper {
        @include flexcontainer (row);
    }

    &__logo {
        width: 10rem;
        height: 1.7rem;

        @media  screen and (min-width:$Query-Tablet) {
            width: 18rem;
            height: 3.2rem;
        }

        @media screen and (min-width:$Query-Desktop) {
            width: 24rem;
            height: 3.8rem;
        }
    }


}
